<% layout('layouts/boilerplate')%>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

body {

height: 100vh;
font-family: Poppins, sans-serif;

}

h1 {
font-weight: 600;
text-align: center;
color: #fff;
margin-bottom: 2rem;
}

h3 {
font-weight: 600;
}

.calendar {
margin: auto;
width: 98%;
max-width: 380px;
padding: 1rem;
background: #fff;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
display: none; /* Initially hide the calendar */
transition: opacity 0.3s ease-in-out; /* Add transition for opacity */
display: block; /* Show the calendar */

}



.calendar header {
display: flex;
align-items: center;
justify-content: space-between;
}

.calendar nav {
display: flex;
}

.calendar ul {
list-style: none;
display: flex;
flex-wrap: wrap;
text-align: center;
}

.calendar ul li {
width: calc(100% / 7);
margin-top: 25px;
position: relative;
z-index: 2;
}

#prev,
#next {
width: 20px;
height: 20px;
position: relative;
border: none;
background: transparent;
cursor: pointer;
}

#prev::before,
#next::before {
content: "";
width: 50%;
height: 50%;
position: absolute;
top: 50%;
left: 50%;
border-style: solid;
border-width: 0.25em 0.25em 0 0;
border-color: #ccc;
}

#next::before {
transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
border-color: #000;
}

.days {
font-weight: 600;
}

.dates li.today {
color: #fff;
}

.dates li.today::before {
content: "";
width: 2rem;
height: 2rem;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #000;
border-radius: 50%;
z-index: -1;
}

.dates li.inactive {
color: #ccc;
}

.button-item {
cursor: pointer;
transition: background-color 0.3s;
}

.button-item:hover {
background-color: #0056b3;
color: white;
}

.button-item:active {
background-color: #003f7f;
color: white;
}


</style>
<div style="color: #000;" class="row">
    <div class="col-4">
      <div style="background: #f7f7f7;
      
      border-radius: 15px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0.1, 0.3);" class="card mb-3">
        <img src="https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= room.type %>%></h5>
            <p class="card-text"><%= room.description%></p>
        </div>
        <ul class="list-group list-group-flush"> 
          <li class="list-group-item text-muted"><%= hotel.location%></li>

        </ul>
        <li class="list-group-item">Price: <%= room.price%>$ a night</li>

        <div class="card-footer text-muted">
          2 days ago
      </div>

    </div>
    </div>
<div style="color: #000;" class="col-4">
      <h1 style="color: #000000;">Calendar</h1>
      <div class="calendar">
        <header>
            <h3 id="cuurentMonth"></h3>
            <nav>
                <button id="prev"></button>
                <button id="next"></button>
            </nav>
        </header>
        <section>
            <ul class="days">
                <li >Sun</li>
                <li >Mon</li>
                <li >Tue</li>
                <li >Wed</li>
                <li >Thu</li>
                <li >Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="dates"></ul>
        </section>

</div>
</div>
<div  style="color: #000;" class="col-4 mt-5">
  <div class="card mt-5" style="width: 18rem;background: #f7f7f7;
      
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0.1, 0.3);">
    <div class="card-body">
      <h5 class="card-title">Check In Date </h5>
      <p class="card-text" id="checkInDate"></p>
    </div>
  </div>
  <div class="card mt-5" style="width: 18rem;background: #f7f7f7;
      
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0.1, 0.3);">
    <div class="card-body">
      <h5 class="card-title ">Check Out Date </h5>
      <p class= "card-text" id="checkOutDate"></p>
    </div>
  </div>

  <button onclick="Resetfunc()" type="button" class="btn btn-primary mt-5">Reset</button>
  <form id="calenderForm" action="/hotels/<%= hotel._id%>/rooms/<%= room._id%>/calender" method="POST">
    <input style="display: none;"  type="text" id="in" name="body[in]">
    <input  style="display: none;" type="text" id="out" name="body[out]">

    <button id="checkDateCounterBtn" type="submit" class="btn btn-success mt-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>

    </svg>&nbsp; <b>Confirm</b></button>

  </form>
  


</div>
</div>
    
<script>
document.getElementById('checkDateCounterBtn').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default form submission

        var checkIn = document.getElementById('in').value;
        var checkOut = document.getElementById('out').value;
        console.log(checkIn)
        console.log(checkOut)
        const hotelId = '<%= hotel._id %>';
        const roomId = '<%= room._id %>';
        console.log(roomId)

        fetch(`/hotels/${hotelId}/rooms/${roomId}/calenderCheck`, {
          
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify({ in: checkOut, out: checkOut })
        })
        .then(response => response.json())
        .then(data => {
            if (data.illegal) {
            alert('Illegal dates: ' + data.illegalDatess.join(', '));
            } 
            else {
            // No illegal dates, redirect to another page
            window.location.href = `/hotels/${hotelId}/rooms/${roomId}/calender?in=${checkIn}&out=${checkOut}`;
            }
        })
        .catch(error => {
            console.log('Error:', error);
        });
    });
    const header = document.querySelector(".calendar h3");
    const dates = document.querySelector(".dates");
    const navs = document.querySelectorAll("#prev, #next");
    
    const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
    ];
    
    let date = new Date();
    let month = date.getMonth();
    let year = date.getFullYear();
    
    function renderCalendar() {
    const start = new Date(year, month, 1).getDay();
    const endDate = new Date(year, month + 1, 0).getDate();
    const end = new Date(year, month, endDate).getDay();
    const endDatePrev = new Date(year, month, 0).getDate();
    
    let datesHtml = "";
    
    for (let i = start; i > 0; i--) {
    datesHtml += `<li class="inactive">${endDatePrev - i + 1}</li>`;
    }
    
    for (let i = 1; i <= endDate; i++) {
    let className =
      i === date.getDate() &&
      month === new Date().getMonth() &&
      year === new Date().getFullYear()
        ? ' class="today"'
        : ` class="button-item" id="my${i}"  data-action="${i}"`;
    datesHtml += `<li${className}>${i}</li>`;
    }
    
    for (let i = end; i < 6; i++) {
    datesHtml += `<li class="inactive">${i - end + 1}</li>`;
    }
    
    dates.innerHTML = datesHtml;
    header.textContent = `${months[month]} ${year}`;
    
    // Re-attach click event listeners to new button items
    const buttonItems = document.querySelectorAll(".button-item");
    
    buttonItems.forEach((item) => {
    item.addEventListener("click", function () {
      const action = this.getAttribute("data-action");
      handleButtonClick(action);
    });
    });
    }
    let arr=[]

    function handleButtonClick(action) {
      const dateDay=action
      const inn =document.getElementById("in")
      const out=document.getElementById("out")
      const mymonth = document.getElementById("cuurentMonth")
      const checkInDate = document.getElementById("checkInDate")
      const checkOutDate = document.getElementById("checkOutDate")

      if (arr.length<1){
        const btn=document.getElementById(`my${action}`)
        btn.style.backgroundColor="#0056b3"
        btn.style.color="white"
        inn.value=dateDay + " " + mymonth.textContent

        arr.push(action)
      }
      else{

        for (let i=parseInt(arr[0]);i<parseInt(action)+1;i++){
          const btn=document.getElementById(`my${i}`)
          btn.style.backgroundColor="#0056b3"
          btn.style.color="white"
          arr.push(i)
          out.value=dateDay + " " + mymonth.textContent

        }
      }
   
      Datee=dateDay + " " + mymonth.textContent
      if (checkInDate.textContent=="") {
      checkInDate.textContent=(Datee)

        }
      else{
        checkOutDate.textContent=(Datee)

      }
    }
    
    function Resetfunc(){
      arr=[]
      const checkInDate = document.getElementById("checkInDate")
      const checkOutDate = document.getElementById("checkOutDate")
      checkInDate.textContent=""
      checkOutDate.textContent=""
      
      for (let i=0;i<32;i++){
          const btn=document.getElementById(`my${i}`)
          if (btn !== null) {
            const computedStyle = window.getComputedStyle(btn);
            const backgroundColor = computedStyle.backgroundColor;
            if(backgroundColor=='rgb(0, 86, 179)'){
              btn.style.backgroundColor = 'white';
              btn.style.color = 'black';

            }

    // btn exists
        } else {
          // btn does not exist
           console.log("btn does not exist.");
}


        }
      

    }
    
    navs.forEach((nav) => {
    nav.addEventListener("click", (e) => {
    const btnId = e.target.id;
    
    if (btnId === "prev" && month === 0) {
      year--;
      month = 11;
    } else if (btnId === "next" && month === 11) {
      year++;
      month = 0;
    } else {
      month = btnId === "next" ? month + 1 : month - 1;
    }
    
    renderCalendar();
    });
    });
   
    
    document.addEventListener("DOMContentLoaded", renderCalendar);
    

    
    </script>
