<% layout('layouts/boilerplate')%>
  <h1 style="text-align: center; color: rgb(255, 255, 255);">Hotels : <%= Object.keys(hotels).length %> properties found</h1>
 

 <hr>
   
    <% for (let hotel of hotels){%>
      <div style="background: #f7f7f7;
      
      border-radius: 15px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0.1, 0.3);
      " class="card mb-3">
          <div class="row">
              <div class="col-md-4">
                
                  <img style="
      
                  border-radius: 15px;
                  " class="img-fluid" alt="" src="https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                  
                  
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                    
                    <span class="badge rounded-pill bg-primary float-right" style=" font-size: 20px;"><%= Object.keys(hotel.Reviews).length > 0 ? ((hotel.Reviews.reduce((sum, review) => sum + review.rating, 0) / Object.keys(hotel.Reviews).length) * 2).toFixed(1) : (0).toFixed(1) %></span>
                    <p class="float-right"><b>Very Good</b>&nbsp;&nbsp;</p>
                      <h5 class="card-title" style="color: rgb(132, 69, 196);"><b><%= hotel.name %> </b></h5>
                      <br>
                      <p class="card-text"><%= hotel.describtion %></p>
                      <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                          </svg>
                          <small class="text-muted"><%= hotel.location%></small>

                      </p>
                      <a class="btn btn-primary" href="http://localhost:3000/hotels/<%=hotel.id%>">View Hotel &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                      </svg></a>
                  </div>
                  
              </div>
          </div>
      </div>
      <% }%>

  
