<% layout('layouts/boilerplate')%>
 

  <div class="row">
    <div class="col-6 ">
        <div class="card mb-3">
            <img src="https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= hotel.name %>%></h5>
                <p class="card-text"><%= hotel.describtion%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= hotel.location%></li>

            </ul>
            <div class="card-body">
              
                <a class="card-link btn btn-info" href="http://localhost:3000/hotels/<%= hotel._id %>/edit">Edit</a>

                <form class="d-inline" action="/hotels/<%= hotel._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                
            </div>

        </div>
    </div>

    <div class="col-6 ">
      <h1>Leave a Review</h1>
      <form action="/hotels/<%=hotel._id%>/reviews" method="POST">
        <div class="mb-3">
          <label style="font-size: larger;" for="rating">Rating</label>
          <input type="range"  class="form-range"  min="1" max="5" id="body" name="review[rating]">
        </div>
        <div>
          <div>
              <label style="font-size: larger;" for="body" class="mb-3">Review</label>

          </div>
          <textarea class="form-control mb-3" id="body" name="review[body]" cols="70" rows="3"></textarea>
    
        </div>

        <button class="btn btn-success mb-3">Submit</button>
      </form>
      <% for(let rev of hotel.Reviews){%>      
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Rating: <%= rev.rating %></h5>
            <p class="card-text"> <%= rev.body %> </p>
            <form action="/hotels/<%=hotel._id%>/reviews/<%=rev._id%>?_method=DELETE" method="POST"  >
               <button 
                class="btn btn-danger float-left">Delete</button>
            </form>

          </div>
        </div>
      <% } %>
    </div>
</div>


