<% layout('layouts/noContainerBoilerPlate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

  <div class="row">
    <div class="col-6 ">
        <div style="background: #f7f7f7;
      
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0.1, 0.3);" class="card mb-3">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/160726150143-us-beautiful-hotels-17-bellagio-2.jpg?q=w_1900,h_1096,x_0,y_0,c_fill" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= hotel.name %>%></h5>
                <p class="card-text"><%= hotel.describtion%></p>
            </div>
            <ul class="list-group list-group-flush"> 
                <li class="list-group-item text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg> <%= hotel.location%></li>
                <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg> Posted by: <%= hotel.Owner.username%></li>

            </ul>
            <div class="card-body">
              <% if(user && hotel.Owner.equals(user._id)){ %>
                <a class="card-link btn btn-info" href="http://localhost:3000/hotels/<%= hotel._id %>/edit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>&nbsp <b>Edit Hotel</b></a>

                <form class="d-inline" action="/hotels/<%= hotel._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg>&nbsp <b>Delete Hotel</b></button>
                </form>
                  <button type="submit" id="roomAdd" class="btn btn-success float-r"><b>Add more Types!</b></button>
                  <% } %>
            </div>
            <div class="card-footer text-muted">
              2 days ago
          </div>
         

        </div>
      
      
    </div>

    <div class="col-6">
      <div class="row">
      
        <% for (let room of hotel.Rooms) { %>
          <!-- About 5 - Bootstrap Brain Component -->
          
          <div class="col-4 mb-2">
            <div style="
      
            border-radius: 15px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0.1, 0.1);" class="card mt-3" >
              <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/367495264.jpg?k=41393a0d5ff850c0af17143a424f5eab8d0ee9a3b7db3f6152a0472226095af3&o=&hp=1" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= room.type %>%></h5>
                <p class="card-text"><%= room.description%></p>
                <form action="/Hotels/<%=hotel._id%>/rooms/<%= room.id %>" method="GET">
                  <button class="btn btn-primary float-left"><b>View Price</b>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg></button>
                </form>
                <% if(user && hotel.Owner.equals(user._id)){ %>

                <form class="d-inline" action="/hotels/<%= hotel._id %>/rooms/<%=room._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-danger float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                  </svg></button>
              </form>
              <% } %>
              </div>
            </div>
          </div>
          

        <% } %>
        
        <hr>


      </div>
      <% if(user) {%>
      <h1><b>Leave a Review</b></h1>
      <br>
      <form action="/hotels/<%=hotel._id%>/reviews" method="POST" novalidate class="validated-form" >
        <fieldset class="starability-coinFlip">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
              aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
        <div>
          <div>
              <label style="font-size: larger;" for="body" class="mb-3"><b>Review :</b></label>

          </div>
          <textarea required class="form-control mb-3" id="body" name="review[body]" cols="70" rows="3"></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <button class="btn btn-success mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
        </svg>&nbsp  <b>Submit</b></button>
      </form>
      <% } %>
      <hr>
      <br>
      <% for(let rev of hotel.Reviews){%>      
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>&nbsp; <%= rev.Owner.username%></h5>
            <p class="starability-result" data-rating="<%=rev.rating%>">
              Rated: <%= rev.rating %> stars
          </p>

            <p class="card-text"><b>Review:</b> <%= rev.body %> </p>

            <% if(user && rev.Owner.equals(user._id)){ %>

            <form action="/hotels/<%=hotel._id%>/reviews/<%=rev._id%>?_method=DELETE" method="POST"  >
               <button 
                class="btn btn-danger float-left"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                </svg></button>
            </form>
            <% } %>

          </div>
        </div>
      <% } %>
      
    
    </div>
</div>

<script>
const Addbtn = document.getElementById("roomAdd")
Addbtn.addEventListener("click",(e)=>{
  console.log("clicked")
  window.location.href="http://localhost:3000/hotels/<%=hotel._id%>/rooms/new"
})


</script>


