<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= hotel.name %></h1>
  <h2><%= hotel.location%></h2>
  <h1><%= hotel.image %></h1>
  <p><%= hotel.describtion %></p>
  <h1><%= hotel.rooms %></h1>
  <footer>
    <a href="http://localhost:3000/hotels">return</a>

    <a href="http://localhost:3000/hotels/<%= hotel._id %>/edit">edit</a>
    <p>
      <form action="/hotels/<%= hotel._id %>?_method=DELETE" method="POST">
        <button>Delete</button>

      </form>
    </p>
    <form action="/hotels/<%=hotel._id%>/reviews" method="POST">
      
      
      <label for="body">Review</label>
      <textarea id="body" name="review[body]" cols="20" rows="3"></textarea>

      <div>
        <label for="rating">Rating</label>
      <input type="range" min="1" max="5" id="body" name="review[rating]">
      </div>
      <button>Submit</button>
    </form>


  </footer>


  
</body>
</html>