<% layout('layouts/checkOutBoiler')%>

<h2 style="text-align: center;"><b><%= user.username %> : Reservations</b></h2>
<br>
<hr>
<br>
<% for (let reservation of user.Reservations){%>
    <div style="background: white;
    
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0.1, 0.3);
    " class="card mb-3">
        <div class="row">
            <div class="col-md-4">
              
                <img style="
    
                border-radius: 15px;
                " class="img-fluid" alt="" src="<%=reservation.hotelId.images[0].url %>">
                
                
            </div>
            <div class="col-md-8">
                <div class="card-body">
                  
                    <h4 class="card-title" style="color: #2E67F8;"><b>Hotel Name :</b> <%= reservation.hotelId.name %> </h4>
                    <br>
                    <p class="card-text">
                        Room type : <b><%= reservation.Roomid.type %></b> <br>
                        Price for a night : <b><%= reservation.Roomid.price %>$</b><br>
                        Check In Date : <b><%= reservation.Date[0].toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></b> <br>
                        Check Out Date: <b><%= reservation.Date[1].toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></b><br>
                    </p>
                   
                    <p class="card-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                          <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                        <small class="text-muted"><%= reservation.hotelId.location%></small>

                    </p>
                    
                </div>
                
            </div>
        </div>
    </div>
    <% }%>

 